# android studio project files
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml

# mac stuff
.DS_Store

# ignore the build (binaries)
/build
/captures
.externalNativeBuild
/app/build
